<header class="header">
  <video class="header-video" autoplay muted loop playsinline>
    <source src="/assets/header1.mp4" type="video/mp4" />
  </video>

  <div class="overlay">
    <!-- TOP NAVBAR -->
    <div class="navbar">
     

      <nav class="menu">
        <a routerLink="/">About</a>
        <a routerLink="/directory">What I Offer</a>
       
        <a routerLink="/contact">Properties</a>
        <a routerLink="/contact">Contact</a>
      </nav>

   
    </div>

    <!-- HERO TEXT -->
    <div class="hero-content">
      <h1>Prithvi Jal - Pure by Nature,<br />Powerful for Life.</h1>
    </div>
  </div>
</header>