<footer class="footer">
  <div class="footer-container">

    <!-- Brand -->
    <div class="footer-section">
      <div class="logo">
        <img src="/assets/logo.png" alt="logo" />
      </div>
      <p>Eco-friendly packaging for a sustainable future.</p>
    </div>

    <!-- Links -->
    <!-- <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/directory">Directory</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div> -->

    <!-- Contact -->
    <div class="footer-section">
      <h3>Contact</h3>
      <p>Email: support@paperbottle.com</p>
      <p>Phone: +91 8319023587</p>
      <p>C/O Ravi Shankar Gautam, 2305/1, Shiv Prasad Marg,
       Behind Balnyayalaya, 3 lane left, Ward No. 15 Saman, Huzur,
P.O.: Rewa, DIST: Rewa,
Madhya Pradesh - 486001</p>
    </div>

    <!-- Social -->
    <div class="footer-section">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/share/1Eq2cFAk6P/?mibextid=wwXIfr"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/jal_prithvi?igsh=cnU1NXozc3hpd29x&utm_source=qr"><i class="fab fa-instagram"></i></a>
        <a href="https://x.com/prithvi_jal?s=11"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 PaperBottle. All rights reserved.</p>
  </div>
</footer>
